.fixed-top {
    position: fixed;
    top: 0;
}

.scrollfeed{
    max-width: 36rem;
    max-height: 100%;
}

.vertical-scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
  }

.eventcard {
    width: 32rem;
}